*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito-Medium';
}
@font-face {
    font-family: 'Nunito-Medium';
    src: url(Nunito-Medium.ttf);
}
.container{
    display: block;
    width: 250px;
    height: 250px;
    padding: 25px 15px 25px 15px;
    background-color: black;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: none;
}
.previous{
    display: block;
    width: 22px;
    height: 22px;
    background-image: url(previous.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
}
.time{
    display: flex;
    align-items: center;
    background-color: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
}
.status{
    padding: 6px;
    display: flex;
    justify-content: center;
    background-color: none;
    color: white;
}
.progress{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(rgb(255, 255, 255) 30deg,rgba(255, 255, 255, 0.137) 0deg);
}
.progress::after{
    position: absolute;
    content: '';
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: black;
}
.info{
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info .logo{
    display: block;
    width: 16px;
    height: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(16.png);
}
.info .percentage{
    font-size: 45px;
}
.info span{
    font-size: 22px;
}
.info .batterystatus{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.418);
}